/kadena-agent/node_modules
kadena-agent/.env
/kadena-api/node_modules
kadena-api/yarn.lock
/marmalade-examples
/ecko-dex-ui
/kadena-ai/__pycache__
kadena-ai/.env
kadena-api/package-lock.json
kadena-api/.env
.DS_Store
kadena-api/.DS_Store
.DS_Store
kadena-api/.DS_Store
/kadena-api/kadena-docs
/kadena-chat-app/node_modules
kadena-chat-app/pnpm-lock.yaml
kadena-chat-app/.env
kadena-api/pnpm-lock.yaml
kadena-trader/.env
/kadena-trader/node_modules
kadena-trader/pnpm-lock.yaml
/node_modules
package-lock.json
/kadena-trader/__pycache__
